@function to-cielab($c) {
	$r: red($c) / 255;
	$g: green($c) / 255;
	$b: blue($c) / 255;
	$r: if($r > 0.04045, pow(($r + 0.055) / 1.055, 2.4), $r / 12.92);
	$g: if($g > 0.04045, pow(($g + 0.055) / 1.055, 2.4), $g / 12.92);
	$b: if($b > 0.04045, pow(($b + 0.055) / 1.055, 2.4), $b / 12.92);
	$x: ($r * 0.4124 + $g * 0.3576 + $b * 0.1805) / 0.95047;
	$y: ($r * 0.2126 + $g * 0.7152 + $b * 0.0722) / 1;
	$z: ($r * 0.0193 + $g * 0.1192 + $b * 0.9505) / 1.08883;
	$x: if($x > 0.00886, pow($x, 1 / 3), 7.787 * $x + 16 / 116);
	$y: if($y > 0.00886, pow($y, 1 / 3), 7.787 * $y + 16 / 116);
	$z: if($z > 0.00886, pow($z, 1 / 3), 7.787 * $z + 16 / 116);

	@return 116 * $y - 16, 500 * ($x - $y), 200 * ($y - $z);
}
